APP_ENV=production
NODE_ENV=production
PORT=3000
JWT_SECRET=cambiar_por_una_clave_larga_y_segura

DB_HOST=ep-tu-host.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=tu_password_neon
DB_SSL=true

SANDBOX_DB_HOST=ep-tu-host-sandbox.neon.tech
SANDBOX_DB_PORT=5432
SANDBOX_DB_NAME=neondb
SANDBOX_DB_USER=neondb_owner
SANDBOX_DB_PASSWORD=tu_password_neon_sandbox
SANDBOX_DB_SSL=true
